<div class="container">
  <div class="welcome">
    <img src="../../../../../assets/logo.png" alt="logo" />
    <strong>Bem Vindo!</strong>
    <span
      >Nunca foi tão fácil organizar suas anotações de forma prática e
      rápida.</span
    >
  </div>
  <div class="login-form">
    <section>
      <strong>Entrar</strong>
      <form (ngSubmit)="onSubmit()">
        <div class="login-input">
          <fa-icon [icon]="faUser"></fa-icon>
          <input
            required
            [(ngModel)]="email"
            type="email"
            name="email"
            id="email"
            placeholder="Email"
          />
        </div>
        <div class="login-input">
          <fa-icon [icon]="faLock"></fa-icon>
          <input
            required
            [(ngModel)]="password"
            type="password"
            name="password"
            id="password"
            placeholder="Senha"
          />
        </div>
        <button
          [disabled]="ngDoCheck()"
          [style]="buttonStyle"
          class="submit-login-button"
          type="submit"
        >
          Entrar
        </button>
      </form>
      <span
        >Não tem uma conta?
        <a [routerLink]="['/register']" routerLinkActive="router-link-active"
          >Registre-se</a
        ></span
      >
    </section>
  </div>
</div>
