<div>
  <div class="welcome-">
    <img src="../../../../../assets/logo.png" alt="logo" />
    <strong>Bem Vindo!</strong>
    <span
      >Nunca foi tão fácil organizar suas anotações de forma prática e
      rápida.</span
    >
  </div>
  <div class="login-form">
    <strong>Entrar</strong>
    <form (ngSubmit)="onSubmit()">
      <div class="form-control">
        <input
          [(ngModel)]="email"
          type="email"
          name="email"
          id="email"
          placeholder="Email"
        />
      </div>
      <div class="form-control">
        <input
          [(ngModel)]="password"
          type="text"
          name="password"
          id="password"
          placeholder="Senha"
        />
      </div>
      <button class="submit_login_button" type="submit">Entrar</button>
    </form>
  </div>
</div>
